/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    margin: 0;
    display: flex;
    flex-direction: column; /* Contenido en columna */
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% del viewport height */
}

h1 {
    color: #0066cc; /* Azul */
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px; /* Border radius reducido */
    background-color: #0066cc; /* Azul */
    color: #fff; /* Blanco */
    text-decoration: none;
    border: 1px solid #fff; /* Borde blanco siempre presente */
    transition: all 0.3s ease; /* Animación de cambio suave */
}

li a:hover {
    transform: scale(1.2); /* Aumentar escala en hover */
    background-color: #004080; /* Azul más oscuro al pasar el ratón */
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; /* Border radius reducido */
    background-color: #0066cc; /* Azul */
    color: #fff; /* Blanco */
    text-decoration: none;
    border: 1px solid #fff; /* Borde blanco siempre presente */
    transition: all 0.3s ease; /* Animación de cambio suave */
}

a:hover {
    transform: scale(1.2); /* Aumentar escala en hover */
    background-color: #004080; /* Azul más oscuro al pasar el ratón */
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px; /* Border radius reducido */
    border: 1px solid #0066cc; /* Borde azul */
    box-sizing: border-box;
}

label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    color: #0066cc; /* Azul */
}

button {
    display: inline-block;
    padding: 10px;
    border-radius: 8px; /* Border radius reducido */
    background-color: #0066cc; /* Azul */
    color: #fff; /* Blanco */
    text-decoration: none;
    border: 1px solid #fff; /* Borde blanco siempre presente */
    cursor: pointer;
    transition: all 0.3s ease; /* Animación de cambio suave */
}

button:hover {
    transform: scale(1.2); /* Aumentar escala en hover */
    background-color: #004080; /* Azul más oscuro al pasar el ratón */
}
